.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-details h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--text-black);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.compare-product-details h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.product-details p {
  color: var(--text-black);
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
