.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 0.3rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wishlist-icon {
  top: 3%;
  right: 14px;
  z-index: 9;
}

.action-bar {
  top: 10%;
  right: -24px;
  transition: 0.3s;
  z-index: 9;
}

.product-card:hover .action-bar {
  right: 12px;
}

.product-card .product-image {
  height: 270px;
  display: flex;
  position: relative;
  /* left: 0%; */
  transition: 0.6s;
}

/* .product-card:hover .product-image {
  left: -100%;
} */

.product-card .product-image img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* transition: 0.3 ease; */
}

/* .product-card .product-image > img:last-child {
  left: 100%;
} */

/* .product-card:hover .product-image > img:last-child {
  display: block;
} */

.product-details h6 {
  color: var(--highlight-color);
  font-size: 13px;
}

.product-details h5 {
  font-size: 15px;
  color: var(--text-black);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-details .price {
  display: block;
  text-align: start;
  font-size: 16px;
  color: var(--text-black);
}

.product-card p.description {
  font-size: 13px;
  color: var(--grey-text);
  margin-right: 20px;
  text-align: start;
}

.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}
.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img {
  margin: auto;
  display: block;
}
.gr-12 .product-card .product-image {
  width: 270px;
}
.gr-12 .product-card .product-image {
  height: auto;
}
.gr-12 .action-bar {
  top: 17%;
}
