.header-top-strip {
  background-color: var(--black-color);
  border-bottom: 1px solid var(--black-border);
}

.row {
  display: flex;
  align-items: center;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
  /* color: white; */
}

.header-upper {
  background-color: var(--black-color);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icon {
  width: 32px;
  height: 32px;
}

.card-count {
  top: -3px;
  right: -12px;
  line-height: 12px;
  padding: 0px 6px;
  font-size: 10px;
  border-radius: 10px;
  color: var(--text-hover);
  background-color: var(--black-color);
  border: 2px solid var(--text-hover);
  outline: 3px solid var(--black-color);
  z-index: 9;
}

.menu-lists {
  display: flex;
  align-items: center;
}

.header-categories {
  background-color: var(--categories-background);
}

.header-categories .menu-lists .menu-links a,
.dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
  padding-left: 0;
}

.dropdown button:focus {
  box-shadow: none;
}

.dropdown-menu {
  background-color: var(--black-color);
  width: 100%;
  transform: translate(0, 6px) !important;
}

.dropdown-item {
  padding: 12px;
  margin-bottom: 1px;
}

li + li {
  border-top: 1px solid var(--black-border);
}

.dropdown-item:hover {
  background-color: transparent;
  color: var(--text-hover) !important;
}

.user-icon {
  border: none;
}

.user-icon > p {
  font-size: 12px;
  text-transform: none;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.dropdown > .user-icon:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.cart-button {
  cursor: pointer;
}

/* .dropdown-menu {
  display: block;
} */

#dropdownMenuButton1::before {
  content: ' ';
  position: absolute;
  top: 32px;
  width: 238px;
  height: 20px;
}

#dropdownMenuButton::before {
  content: ' ';
  position: absolute;
  top: 30px;
  width: 119px;
  height: 20px;
}

.dropdown-menu__user {
  transform: translate(0, 14px) !important;
}

/* Search */
.input-group {
  position: relative;
}

.dropdown-search {
  position: absolute;
  list-style: none;
  background-color: white;
  top: 40px;
  width: 100%;
  border-radius: 2px !important;
  margin: 0;
  padding: 0px;
  z-index: 99;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  /* display: none; */
}

.search-item-link a {
  color: var(--text-black);
  line-height: 34px;
  padding: 4px 8px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.search-item-link a:hover {
  color: var(--text-black);
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.search-header-input:focus-within ~ .dropdown-search {
  display: block;
}

.search-header {
  position: relative;
}
