.single-blog-card a {
  color: var(--text-black);
}

.single-blog-card:hover a {
  color: var(--text-black);
}

.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-black);
}

.img-fluid {
  display: flex;
  justify-content: center;
}
