.main-product-wrapper .row {
  align-items: unset;
}

p {
  text-align: left;
}
/* Product detail */
.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

/* Image zoom */
.zoom {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.zoom img {
  width: 100%;
}

#imgZoom {
  position: absolute;
  left: 0;
  top: 0;
  --zoom-x: 50%;
  --zoom-y: 50%;
  transform: scale(1.5);
  pointer-events: none;
  clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
  opacity: 0;
}

.list-product-image {
  width: 440px;
  max-width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}

.list-product-image::-webkit-scrollbar {
  display: none;
}

.other-product-image {
  background-color: white;
  margin: 0 auto;
  width: max-content;
}

.other-image {
  width: 102px;
  overflow: hidden;
  transition: 0.5s;
  scroll-snap-align: start;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-inline: 5px;
}

.other-image:first-child {
  margin-left: 0;
}

.other-image:last-child {
  margin-right: 0;
}

.other-product-image > div > img {
  width: 100%;
  object-fit: contain;
}

.direction {
  text-align: center;
}
.direction button {
  border: none;
  transition: 0.5s;
  background-color: transparent;
  font-size: 40px;
}

#prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}

#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

/* Product detail */
.main-product-detail {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.rating-avg,
.rating-count {
  font-size: 16px;
  padding-right: 6px;
}

.rating-count {
  padding-left: 24px;
  padding-right: 10px;
}

.rating-count__text,
.sold__text {
  color: var(--grey-text);
}

.sold {
  font-size: 16px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.product-select span {
  font-size: 16px;
  color: var(--grey-text);
}

.product-select span p {
  color: var(--text-black);
  font-weight: 500;
}

.product-size {
  width: max-content;
  padding-inline: 28px;
  height: 30px;
  font-size: 16px;
  background-color: var(--split-color);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.product-size:hover {
  background-color: var(--grey-background);
}

.product-size + .product-size {
  margin-left: 12px;
}

.cover-product {
  font-size: 15px;
}

.cover-product tr {
  height: 32px;
}

.cover-product tr th:not(:first-child) {
  font-weight: normal;
  padding-left: 20px;
  color: var(--grey-text);
}

.product-quantity-select p {
  color: var(--grey-text);
  font-size: 16px;
}

.product-quantity-select span {
  font-size: 16px;
  padding-inline: 20px;
}

.quantity-action {
  width: 32px;
  height: 32px;
  background-color: #eff0f5;
  color: #9e9e9e;
  border: none;
  font-size: 20px;
  transition: 0.2s;
  border-radius: 4px;
}

.quantity-action:hover {
  background-color: #dadada;
  color: white;
}

.quantity-action__disabled {
  pointer-events: none;
  color: #dadada;
  background-color: #fafafa;
}

.product-quantity-select button {
  border: none;
}

.product-action a {
  color: var(--text-black);
  font-size: 15px;
}

.product-action:hover a {
  color: var(--text-black);
}

.product-action-icon {
  font-size: 20px;
  margin-right: 6px;
}
/* Description */
.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: var(--text-black);
  margin-bottom: 10px;
}

.description-wrapper p {
  font-size: 14px;
  color: var(--grey-text);
}

/* Review */
.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head h4 {
  font-size: 18px;
  color: var(--text-black);
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--grey-text);
}

.review-form h4 {
  font-size: 16px;
  color: var(--grey-text);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-form textarea {
  font-size: 14px;
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review h6 {
  font-size: 16px;
}

.review p {
  font-size: 14px;
  color: var(--grey-text);
}
